body {
  margin: 0;
  padding: 0;
}

.page-header {
  display: flex;
}

.avatar {
  object-fit: cover;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}
